.breedList{
    margin-top: 50px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    height: 60px;
    background: #ffffff;
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button{
    color: rgb(16, 180, 16);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h3{
    font-size: 14px;
}

.dog-breed-item{
    display: flex;
    justify-content: space-between;
}
