form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

form label{
    margin-bottom: 10px;
}

form input{
    color: #024781;
    font-size: 30px;
    padding-left: 10px;
    height: 50px;
    border: 1px solid #024781 ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}